body
      {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-image:url('Gentle Smile and Floral Shirt.png') ;
    background-repeat: no-repeat;
      }

.gradient-background 
{
            width: 400px;
            padding: 30px;
            margin: 50px auto;
            border-radius: 10px;
            background-color: #4CAF50;
            background-image: linear-gradient(
                to right, 
                #a777c4bd,
                #599fb1
            );
            color: #333;
            font-family: Arial, sans-serif;

}
::placeholder
      {
    color: #c4d1d1;
      }
form
     {
    background-color: rgb(121, 138, 138);
    padding: 20px;
    box-shadow: 18px 16px 20px  rgb(0, 0, 0);
    border-radius: 8px;
    opacity: 80%;
     }

input,button
     {
    margin: 0px 10px;
    box-shadow: 0.2px .8px  rgb(255, 255, 255);
     }

  img 
     {
    justify-content: center;
    align-items: center;
     padding: 8px 4px;
     }

   input
      {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(37, 52, 52, 0.2);
    border-radius: 40px;
      }
 .gender
    {
  padding: 2px 5px;
  width: 20%;
  height: 20%;
    }


 input[type="radio"]
   {
  transform: scale(.8);
  width: 13%;
   }

button
   {
    padding: 8px 12px;
    background-color:rgb(27, 39, 59) ;
    border: none;
    color: #518780;
    border-radius: 4px;
   }
